/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    margin-bottom: 1rem;
}

.navbar-brand {
    font-weight: bold;
}

/* Image Container Styles */
.img-container {
    position: relative;
    max-height: 500px; /* Adjust as needed */
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 1rem;
    background-color: #ffffff;
}

.img-container img {
    width: 100%;
    height: auto;
}

/* Upload Area Styles */
.upload-area {
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
}

.upload-area:hover {
    background-color: #f0f8ff;
}

.upload-area input[type="file"] {
    display: none;
}

.upload-text {
    color: #007bff;
    font-size: 16px;
}

/* Uploaded Image Styles */
.uploaded-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Main Section Styles */
main {
    margin-top: 1rem;
}

/* Scrollable Container Styles */
.scrollable {
    height: 400px; /* Adjust as needed */
    overflow-y: scroll;
}

/* Button Styles */
button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

button.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

button.btn-secondary {
    background-color: #007bff;
    border-color: #007bff;
    color: white; /* Ensure text color is white */
}

button.btn-secondary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Navigation Buttons Styles */
.nav-buttons {
    margin-bottom: 1rem;
}

.nav-buttons .btn {
    margin-right: 0.5rem;
}

/* Submit Button Container Styles */
.submit-button-container {
    margin-top: 1rem;
}
